* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Sezione tag */

header {
    margin: 20px auto 25px;
    width: 920px;
}

footer {
    margin: 15px auto 20px;
    width: 920px;
    text-align: center;
}

/* Selettori avanzati */

header img {
    width: 190px;
    margin-bottom: 40px;
    padding-right: 20px;
    border-right: 1px solid lightgrey;
}

header ul {
    margin-left: -10px;
}

header li {
    display: inline-block;
    list-style: none;
}

header a {
    text-decoration: none;
    color: gray;
    padding: 7px 10px;
}

footer p {
    font-size: 20px;
}

footer span {
    font-size: 30px;
    color: red;
}

/* Sezione classi */

.space_container {
    width: 920px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fst_section {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 10px;
}

.fst_section_text {
    position: absolute;
    bottom: 60px;
    left: 40px;
    width: 50%;
    color: white;
}

.snd_section {
    padding-bottom: 20px;
}

.top_s_section {
    margin-bottom: 25px;
}

.column_cards {
    float: left;
    width: 20%;
}

.img_columns {
    position: relative;
}

.text_columns {
    padding-top: 20px;
    font-size: 80%;
}

.snd_column {
    margin: 0 10px;
    width: calc(100% - 40% - 20px);
}

/* Selettori avanzati */

.overlay::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
}

.top_s_section > span {
    color: grey;
}

.column_cards img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.text_columns p {
    color: grey;
}